<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>Script Synthesizer using by timbre.js and WebMidiLink</title>
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Electrolize" />
  <link rel="stylesheet" href="/stylesheets/lib/bootstrap.min.css" />
  <link rel="stylesheet" href="/stylesheets/lib/codemirror.css" />
  <link rel="stylesheet" href="/stylesheets/lib/codemirror-theme.css" />
  <link rel="stylesheet" href="/stylesheets/index.css" />
</head>
<body>
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="pull-right">
        <a class="brand">Script Synthesizer</a>
      </div>
      
      <div class="container-fluid">
        <form class="navbar-form">
          <select id="preset" class="large">
          </select>
        </form>
      </div><!-- /container-fluid -->
    </div><!-- /navbar-inner -->
  </div><!-- /navbar -->
  
  
  <div class="container-fluid">
    <div class="tabbable">
      <ul class="nav nav-tabs" id="tab">
        <li class="active"><a href="#tabSynthDef" data-toggle="tab">SynthDef</a></li>
        <li><a href="#tabViewer" data-toggle="tab">Viewer</a></li>
        <li><a href="#tabKeyMap" data-toggle="tab">KeyMap</a></li>
      </ul>
      
      <div class="well" id="content">
        <div class="tab-content">
          
          <!-- Tab: SynthDef
               ======================================== -->
          <div class="tab-pane active" id="tabSynthDef">
            <textarea id="editor">// Your SynthDef code goes here.</textarea>
            
            <div class="" style="padding-top:15px">
              <div class="pull-left">
                <div class="alert" id="alert" style="display:none">
                  <strong></strong> <span class="msg"></span>
                </div>
              </div>
              <button class="btn btn-primary btn-large pull-right" id="evalSynthDef">
                Eval SynthDef
              </button>
            </div>
          </div>
          
          
          <!-- Tab: Viewer
               ======================================== -->
          <div class="tab-pane" id="tabViewer">
            <div class="row-fluid">
              <div class="span2">
                <ul class="nav nav-list">
                  <li class="active">
                    <a href="javascript:void(0)" id="viewer-wave" data-toggle="tab">
                      Wave
                    </a>
                  </li>
                  <li>
                    <a href="javascript:void(0)" id="viewer-fft" data-toggle="tab">
                      FFT
                    </a>
                  </li>
                </ul>
              </div><!-- /span2 -->
              <div class="span10"><canvas id="viewer"></canvas></div>
            </div><!-- /row-fluid -->
          </div>
          
          <!-- Tab: KeyMap
               ======================================== -->
          <div class="tab-pane" id="tabKeyMap">
              <div class="row-fluid keymap blackkey">
                <div class="disabled"><p><strong>1</strong></p>&nbsp;</div>
                <div><p><strong>2</strong></p>C#3</div>
                <div><p><strong>3</strong></p>D#3</div>
                <div class="disabled"><p><strong>4</strong></p>&nbsp;</div>
                <div><p><strong>5</strong></p>F#3</div>
                <div><p><strong>6</strong></p>G#3</div>
                <div><p><strong>7</strong></p>A#3</div>
                <div class="disabled"><p><strong>8</strong></p>&nbsp;</div>
                <div><p><strong>9</strong></p>C#4</div>
                <div><p><strong>0</strong></p>D#4</div>
                <div class="padding" style="width:30px">&nbsp;</div>
              </div>
              <div class="row-fluid keymap whitekey">
                <div class="padding" style="width:8px">&nbsp;</div>
                <div><p><strong>Q</strong></p>C3</div>
                <div><p><strong>W</strong></p>D3</div>
                <div><p><strong>E</strong></p>E3</div>
                <div><p><strong>R</strong></p>F3</div>
                <div><p><strong>T</strong></p>G3</div>
                <div><p><strong>Y</strong></p>A3</div>
                <div><p><strong>U</strong></p>G3</div>
                <div><p><strong>I</strong></p>C4</div>
                <div><p><strong>O</strong></p>D4</div>
                <div><p><strong>P</strong></p>E4</div>
                <div class="padding" style="width:8px">&nbsp;</div>
              </div>
              <div class="row-fluid keymap blackkey">
                <div class="padding" style="width:16px">&nbsp;</div>
                <div class="disabled"><p><strong>A</strong></p>&nbsp;</div>
                <div><p><strong>S</strong></p>C#2</div>
                <div><p><strong>D</strong></p>D#2</div>
                <div class="disabled"><p><strong>F</strong></p>&nbsp;</div>
                <div><p><strong>G</strong></p>F#2</div>
                <div><p><strong>H</strong></p>G#2</div>
                <div><p><strong>J</strong></p>A#2</div>
                <div class="disabled"><p><strong>K</strong></p>&nbsp;</div>
                <div><p><strong>L</strong></p>C#3</div>
                <div><p><strong>:</strong></p>D#3</div>
                <div class="padding" style="width:2px">&nbsp;</div>
              </div>
              <div class="row-fluid keymap whitekey">
                <div class="padding" style="width:32px">&nbsp;</div>
                <div><p><strong>Z</strong></p>C2</div>
                <div><p><strong>X</strong></p>D2</div>
                <div><p><strong>C</strong></p>E2</div>
                <div><p><strong>V</strong></p>F2</div>
                <div><p><strong>B</strong></p>G2</div>
                <div><p><strong>N</strong></p>A2</div>
                <div><p><strong>M</strong></p>B2</div>
                <div><p><strong>,</strong></p>C3</div>
                <div><p><strong>.</strong></p>D3</div>
                <div><p><strong>/</strong></p>E3</div>
              </div>
          </div>
        </div><!-- /tab-contant -->
      </div><!-- /well -->
    </div><!-- /tabbable -->
    
    
    <div class="footer">
      <p><strong>Script Synthesizer</strong> using by <a href="https://github.com/mohayonao/timbre" target="_blank">timbre.js</a> and <a href="http://www.g200kg.com/en/docs/webmidilink/sprc.html" target="_blank">WebMidiLink</a>.</p>
      <p>Fork me on
        <a href="https://github.com/mohayonao/script-synthesizer" target="_blank">GitHub</a>.
        Maintained by <a href="https://twitter.com/mohayonao" target="_blank">@mohayonao</a>
      </p>
    </div>
  </div>
  <script type="text/javascript" src="/javascripts/lib/jquery.min.js"></script>
  <script type="text/javascript" src="/javascripts/lib/bootstrap.min.js"></script>
  <script type="text/javascript" src="/javascripts/lib/codemirror.js"></script>
  <script type="text/javascript" src="/javascripts/lib/javascript.js"></script>
  <script type="text/javascript" src="/javascripts/lib/emacs.js"></script>
  <script type="text/javascript" src="/javascripts/lib/timbre.min.js"></script>
  <script type="text/javascript" src="/javascripts/webmidilink.js"></script>
  <script type="text/javascript" src="/javascripts/waveviewer.js"></script>
  <script type="text/javascript" src="/javascripts/presets.js"></script>
  <script type="text/javascript" src="/javascripts/index.js"></script>
</body>
</html>
