<html>
<head>
  <meta charset="utf-8"/>
  <title>timbre.js - WebMidiSequencer</title>
  <link type="text/css" media="screen" rel="stylesheet" href="stylesheets/style.css" />
  </head>
<body>
  <section id="body">
    <h1><a href="http://mohayonao.github.com/timbre">timbre.js</a> - WebMidiSequencer</h1>
    <div class="control">
      <label>WebInst</label><input id="webi" size=60 value="/?5"/><button id="open">open</button>
      <button id="play">play</button>
    </div>
    <div class="function">
      <textarea id="code" cols=80 rows=20>
t120 l8 o5
ceg<ce>g<ce> ceg<ce>g<ce>
cda<df>a<df> cda<df>a<df>
>b<dg<df>g<df> >b<dg<df>g<df>
ceg<ce>g<ce> ceg<ce>g<ce>
cea<ea>a<ea> cea<ea>a<ea>
cdf+a<d>f+a<d> cdf+a<d>f+a<d>
>b<dg<dg>g<dg> >b<dg<dg>g<dg>
>b<ceg<c>eg<c> >b<ceg<c>eg<c>
>a<ceg<c>eg<c> >a<ceg<c>eg<c>
>da<df+<c>df+<c> >da<df+<c>df+<c>
>gb<dgbdgb> gb<dgbdgb
>gb-<eg<c+>eg<c+> >gb-<eg<c+>eg<c+>
>fa<da<d>da<d> >fa<da<d>da<d>
>fa-<dfbdfb> fa-<dfbdfb>
eg<cg<c>cg<c>> eg<cg<c>cg<c>>
efa<cf>a<cf> efa<cf>a<cf>
dfa<cf>a<cf> dfa<cf>a<cf>
>g<dgb<f>gb<f> >g<dgb<f>gb<f>
ceg<ce>g<ce> ceg<ce>g<ce>
cgb-<ce>b-<ce> cgb-<ce>b-<ce>
>f<fa<ce>a<ce> >f<fa<ce>a<ce>
>f+<ca<ce->a<ce-> >f+<ca<ce->a<ce->
>a-<fb<cd>b<cd> >a-<fb<cd>b<cd>
>g<fgb<d>gb<d> >g<fgb<d>gb<d>
>g<eg<ce>g<ce> >g<eg<ce>g<ce>
>g<dg<cf>g<cf> >g<dg<cf>g<cf>
>g<dgb<f>gb<f> >g<dgb<f>gb<f>
>g<e-a<cf+>a<cf+> >g<e-a<cf+>a<cf+>
>g<eg<cg>g<cg> >g<eg<cg>g<cg>
>g<dg<cf>g<cf> >g<dg<cf>g<cf>
>g<dgb<f>gb<f> >g<dgb<f>gb<f>
>c<cgb-<e>gb-<e> >c<cgb-<e>gb-<e>
>c<cfa<cfc>a <c>afafdfd
cb<gb<dfd>b <d>bgbdfed
      </textarea>
    </div>
  </section>
</body>
<script type="text/javascript" src="/javascripts/timbre.min.js"></script>
<script type="text/javascript" src="/javascripts/jquery.min.js"></script>
<script type="text/javascript" src="/javascripts/webmidilink.js"></script>
<script type="text/javascript" src="/javascripts/mml.js"></script>
</html>
